<!-- start custom head snippets -->
{% if page.layout == 'article' %}
<meta property="og:title" content="{{ page.title }} - {{ page.catch }} | MOONGIFT.dev" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://moongift.dev{{ page.id }}" />
<meta property="og:image" content="https://moongift.dev{{ page.cover }}" />
<meta property="og:site_name" content="MOONGIFT.dev" />
<meta property="og:description" content="{{ site.description }}" />
<meta name="twitter:card" content="summary_large_image" />
{% endif %}
<!-- end custom head snippets -->
